/* colors */
$not-quiet-white: #f5f5f5;
$button-primary: #1c1c1c80;
$box-shadow: #000000a0;
$button-secondary: #00000000;
$primary-color: #c062ef;
$secondary-color: #5689ce;
$accent-color: #ff0000;
$check: #affe69;
/* root */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --frac: 1;
  --rotat: 10deg;
  --srotat: -10deg;
  --hi: 6px;
  --mid: 4px;
  --lo: 2px;
  --no: 0px;
  --shi: -6px;
  --smid: -4px;
  --slo: -2px;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: $primary-color;
}

.sec1{
  display: none;
}
.sec2{
  display: none;
}
.sec3{
  display: none;
}
.sec4{
  display: none;
}
.section{
  color:$not-quiet-white;
}

/* only active section is being displayed */
.active{
  display: flex;
  animation: scaleAnim .5s ease-in-out;
  transform: translateY(0) scale(1); // slide in from right
  @keyframes scaleAnim {
  0%{
    transform: translateX(100%) scaleX(0);
  }
  100%{
    transform: translateX(0%) scaleX(1);
  }
  }
}

/* intro */
.header_container{
  margin: max(72px, 20%) auto; // every section should have at least 72px margin because of the menu box
  display: flex;
  justify-content: center; // everything centered
  .intro{
    width: 70%;
    @media screen and (max-width: 720px) {
      width: 90%;
    }
      text-align: left;
      font-weight: lighter;
      font-size: 2rem;
      span{
        font-size: 3rem;
        font-weight: bolder;
        color: $accent-color;
      }

  }
}

  /* about me */
.about_container{
  display:inline-flex;
  width: 70%;
  @media screen and (max-width: 720px) {
    width: 90%;
  }
  margin-top: max(10%,72px);
  flex-direction: column;
  text-align: left;
  h1{
    text-align: center;
    font-size: 3rem;
    span{ color: red;} }
  p{ font-size: 2rem;}
  .skills{
    justify-content: center;
    align-self: center;
    width: fit-content;
    margin: 3em;
    background-color: $button-primary;
    border:0.1rem solid $button-primary;
    border-radius: 10px;
    &:hover{
      transition: all .4s ease-in-out;
      scale: 105%;
      box-shadow: 2px 2px $box-shadow;
    }
    h2{
      margin-top: 1em;
      text-align: center;
    }
    .checkbox_container{
      display: grid;
      grid-template-columns: auto auto;
      margin: 1rem;
      .checkbox{
        display: inline-flex;
        grid-template-columns: max-content max-content; // fr1 max fr2 max
        align-items: center; // align box and text
        justify-items: center;
        padding-inline: 1em; // space between
        .box{
          height: 2rem;
          width: 2rem;
          margin: 1rem;
          border-radius: 10%;
          i{
            justify-self: center;
            color: $check;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
/* portfolio */
.portfolio_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  margin: 130px auto;
  hr{
    border-top: 1px solid $button-primary;
    width: 95%;
    border-radius: 50%;
  }
  .button-box{
    transition: all .4s ease;
    color: $not-quiet-white;
    text-decoration: $not-quiet-white;
    background-color: $button-primary;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    border:0.1rem solid $button-primary;
    width: 20rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    &:hover{ scale: 105%; box-shadow: 2px 2px $box-shadow;}
    .span{padding: 20px;font-size: 1.5rem;font-weight: bolder;}
    #email{ transition: all 4s ease; }
    i{font-size: 2rem;}
  }
}

/*   imprint   */
.heart-container{
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  // transition: all ease-in-out 1s;
  animation: wiggle .7s infinite;
  touch-action: none;
  #heart-a {
    position:absolute;
    color: red;
    z-index: 11;
    font-size: 10rem;
  }
  #heart-b{
    left: 5px;
    top: 5px;
    position: relative;
    color: darkred;
    z-index: 10;
    font-size: 10rem;
  }
}
@keyframes wiggle {
  0%   {  transform:  translate( var(--lo) , var(--lo   )) rotate(0deg); }
  10%  {  transform:  translate( var(--slo), var(--smid )) rotate(var(--srotat)); }
  20%  {  transform:  translate( var(--shi), var(--no   )) rotate(var(--rotat)); }
  30%  {  transform:  translate( var(--hi) , var(--mid  )) rotate(0deg); }
  40%  {  transform:  translate( var(--lo) , var(--slo  )) rotate(var(--srotat)); }
  50%  {  transform:  translate( var(--slo), var(--smid )) rotate(var(--rotat)); }
  60%  {  transform:  translate( var(--shi), var(--lo   )) rotate(0deg); }
  70%  {  transform:  translate( var(--hi) , var(--lo   )) rotate(var(--srotat)); }
  80%  {  transform:  translate( var(--slo), var(--slo  )) rotate(var(--rotat)); }
  90%  {  transform:  translate( var(--lo) , var(--mid  )) rotate(0deg); }
  100% {  transform:  translate( var(--lo) , var(--smid )) rotate(var(--srotat)); }
}

/* background */
.background{
  position: absolute;
  top: 0;
  left:0;
  .circle{
    position: fixed;
    width: 50%;
    height: 100%;
    left: -25%;
    border-radius: 50%;
    background-color: $secondary-color;
    z-index: -10;
  }
  .glass{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.2);
    z-index: -1;
    animation: pulse 4s alternate infinite running;
    @keyframes pulse {
      0%    { backdrop-filter: blur(0.5px);}
      100%  { backdrop-filter: blur(6px);}
    }
  }
  .square{
    position: fixed;
    width: 15rem;
    height: 15rem;
    top: 10%;
    right: 10%;
    z-index: -5;
    background-color: $secondary-color;
    border-radius: 10%;
    animation: spin 32s ease-in-out infinite running;
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      25%{
        transform: rotate(180deg);

      }
      50%{
        transform: rotate(0deg);
      }
      75%{
        transform: rotate(-180deg);
      }
      100%{
        transform: rotate(0deg);
      }
    }
  }
}

/* menu */
.menu {
  display: inline-flex;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  .button{
    position: relative;
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 5px;
    font-size: 1.4rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: $button-primary;
    color: $not-quiet-white;
    &:hover{
      transition: .2s ease-out;
      font-size: 1.8rem;
    }
  }
  .active-button{
    background-color: $button-secondary;
    cursor: default;
    &:hover{
      font-size: 1.4rem;
    }
  }
}